<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.petrunnel.memoria"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Memoria">
        <activity
            android:name=".start.MemoriaStart"
            android:exported="true"
            android:theme="@style/Theme.Memoria.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MemoriaActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".start.MemoriaStart"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".records.RecordsActivity"
            android:parentActivityName=".start.MemoriaStart" />
        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".start.MemoriaStart" />
    </application>

</manifest>